:root{
    --primary-color: #800F2F;
    --secondary-color: #A4133C;
    --accent-color: #FF4D6D;
    --background-color: #FFF0F3;
    --surface-color: #FFCCD5;
    --text-color: #590D22;
    --font-family: "Ancient Medium", sans-serif;
}

@font-face {
    font-family: "Ancient Medium";
    src: url("./fonts/Ancient Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
